<div class="gs-hea">
  <div class="gs-log">
    <span class="gs-ttl">Vector Inc.</span>
    <span>Building with transparency</span>
  </div>
  <div class="gs-bar">
    <div class="gs-btc" *ngFor="let link of links" [ngClass]="{'gs-bta': link.active}">
      <div class="gs-btn" (click)="setActive(link)">{{link.name}}</div>
    </div>
  </div>
  <div class="gs-nav">

  </div>

</div>
<div class="gs-bod">
  <div class="gs-rig"></div>
  <div class="gs-cen">
  </div>
  <div class="gs-lef"></div>
</div>
<div class="gs-foo"> </div>